/* body {
    background:url(/image/wbk.png);
    background-repeat: no-repeat;
    background-attachment:fixed;  
    background-size: cover;    /*contain保持完整图像 cover覆盖屏幕
    background-position:50% 50%; /* 居中 100% 100% 是如果不能全屏强制全屏
} */